## Build artifacts
bin/
obj/
[Bb]uild/
[Ll]ogs/
*.log

## Visual Studio files
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

## .NET Core / .NET
project.lock.json
project.fragment.lock.json
artifacts/
*.dbmdl
*.pdb
*.cache
*.db

## NUnit
TestResult.xml
TestResults/
*.nunit.xml